{% extends "base.html" %}
{% block title %}
    О проекте
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">О проекте</h1>
      <p class="col-lg-8 mx-auto lead">
        Этот сайт создан как домашнее задание по курсу Otus. Цель проекта — освоить
        публикацию статического сайта на GitHub Pages с помощью
        <a href="https://github.com/quillcraftsman/lavacactus/" target="_blank">LavaCactus</a>
        и автоматического деплоя через GitHub Actions.
      </p>
        <h2 class="text-body-emphasis">Что реализовано</h2>
      <p class="col-lg-8 mx-auto lead">
        <ul class="list-group">
            <li class="list-group-item">Репозиторий на GitHub с публичным доступом</li>
            <li class="list-group-item">Workflow для публикации на GitHub Pages</li>
            <li class="list-group-item">Персонализированные страницы: Главная, О проекте и Контакты</li>
            <li class="list-group-item">Локальный просмотр через <code>cactus serve</code></li>
        </ul>
      </p>
        <h2 class="text-body-emphasis">Полезные ссылки</h2>
        <p class="col-lg-8 mx-auto lead">
            <a href="https://github.com/pamischenko1989-arch/GitHub-pages" target="_blank">Исходный код на GitHub</a>
            ·
            <a href="https://pamischenko1989-arch.github.io/GitHub-pages/" target="_blank">Опубликованный сайт</a>
        </p>
    </div>
  </div>
{% endblock %}